{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="username" value="{{ username }}" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Log in</button>
    <p class="signup-link">
    New patient? <a href="{% url 'patient_signup' %}">Signup now</a>
    </p>
</form>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

{% endblock %}

