:root {
  --input-focus: #2f6b3a; 
  --font-color: #355e3b; 
  --font-color-sub: #d4e4d5; 
  --bg-color: #e0f2e9; 
  --main-color: #355e3b; 
  --button-bg: #ffffff; 
  --button-border: #355e3b; 
  --button-hover: #e0f2e9; 
  --highlight-color: #355e3b; 
  --pattern-fill: #b8d8be; 
  --pattern-stroke: #7ab89a; 
  --pattern-lines: #355e3b; 
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  font-family:monospace;
  background-color: #2f6b3a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

form {
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--highlight-color); 
  background: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  position: relative;
  z-index: 1;
  font-family:monospace;
}



input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid var(--highlight-color); 
  background: #ffffff; 
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #355e3b; 
  box-sizing: border-box;
  box-shadow: 4px 4px var(--main-color);
  outline: none;
  transition: border 0.3s;
  font-family: monospace;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #a5a4a4; 
  opacity: 0.8;
  font-weight: 500;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid var(--input-focus);
}

button[type="submit"] {
  width: 100%;
  background: var(--button-bg);
  color: var(--font-color);
  border: 2px solid var(--highlight-color); 
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px var(--main-color);
  transition: background 0.3s, transform 0.1s;
}

button[type="submit"]:hover {
  background: var(--button-hover);
}

button[type="submit"]:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

button[type="submit"]::after {
  content: "→";
  font-size: 18px;
}